.col-sm-6.col-md-4
  h2 Registration
  = form_for @conn, registration_path(@conn, :create), [as: :registration], fn f ->
    .form-group
      label for="email" Email address
      = email_input f, :email, id: :email, placeholder: "email@example.com", class: "form-control"
    .form-group
      = submit "Send", class: "btn btn-success"

