/* This file is for your main application css. */
@import "node_modules/bootstrap/dist/css/bootstrap";

h2 {
	border-bottom: 1px solid #ddd;
	padding: 0 5px 5px 0;
}

@media (max-width: 768px) {
  .btn {
    width:100%;
  }
}
